*{
	margin: 0px;
	padding: 0px;
}
html
{
	scroll-behavior: smooth;
}
body
{
	box-sizing: border-box;
	overflow-x: hidden;

	font-family: 'Josefin Sans', sans-serif;
	background-color: #08AEEA;
    background-image: radial-gradient(circle at 27% 6%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 27% 18%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 56% 8%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 93% 87%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 38% 97%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 42% 29%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 91% 92%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 96% 29%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 12% 48%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 80% 83%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 1% 11%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 14% 13%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 35% 44%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 55% 89%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 26% 19%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 50% 94%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),linear-gradient(363deg, rgb(66,135,64),rgb(52, 241, 132));
	
	

	
}
/* Designer Scrollbar */
body::-webkit-scrollbar
{
  width: 12px;
}
body::-webkit-scrollbar-track
{
  background-color: black;
}
body::-webkit-scrollbar-thumb
{
  background-color:#afc67b;
  cursor: pointer;
 }
 h2
 {
 	font-family: 'Josefin Sans', sans-serif;
 }
 .main
 {
 	height:auto;
 	background-color: #292222;
 	margin: 30px 0px;
 }

.pro_image
{
	height: 370px;

}
.pro_image img
{
	width: 100%;
	height: 100%;
	object-fit: contain;
	
	
}

 .cat
 {
 	background-color: #2c2a2a;
 	padding: 15px;
 	width:40%;
 	cursor: pointer;
 }

 .cartbtn
 {
 	border: 1px solid #ffc107;
 	color: #ffc107;
 	background-color: transparent;
 	height: 50px;
 	width: 120px;
 	
 }
 .pro_slider
 {
 	position: relative;
 }
 .bottom_part
 {
 	position: absolute;
 	top: 500px;

 }

 .active_cat
 {
	border: 1px solid white;
	color: white;
 }
 